@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Roboto+Slab:wght@500&family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Gabarito:wght@500&family=Roboto+Slab:wght@500&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.navbar {
    width: 100%;
    height: 65px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.list ul {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    list-style: none;
    margin-bottom: 10px;


}

.list ul li a {
    padding: 30px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
}

.list ul li a:hover{
    background-color: black;
    color: #fff;
}
/* navbar end */
.container {
    width: 100%;
    height: 700px;
    /* background-color: aquamarine; */
    position: relative;
}

.container img {
    width: 100%;
    height: 700px;
    background-size: cover;
    opacity: 0.8;
}

.text-cont {
    position: absolute;
    align-items: center;
    margin-left: 38%;
    top: 0;

}

.text-cont .text h1 {
    font-size: 220px;
    font-weight: 700;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    /* background-color: red; */
    margin-top: 50%;

}

.text-cont .text p {
    margin-top: 200px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* container end */
.new-container {
    width: 100%;
    height: 500px;
    /* background-color: aqua; */
    padding-top: 80px;
}

.new-container h1 {
    text-align: center;
    padding: 0 10px;
    font-family: 'Roboto Slab', serif;
    text-decoration: dotted;
}

.boxes {
    width: 75%;
    height: 350px;
    /* background-color: antiquewhite; */
    margin-left: 200px;
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
}
.boxes img{
    transition: 0.7s;
    cursor: pointer;
}

.boxes img:hover{
    transform: translateY(20px);
}

.box-1 {
    width: 25%;
    height: 300px;
    /* background-color: blueviolet; */

}

.box-1 h3 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.box-1 p {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    font-weight: lighter;
}

.box-1 img {
    width: 100%;
    height: 180px;
    background-size: cover;
    border-radius: 10px;

}

.box-2 {
    width: 25%;
    height: 300px;
    /* background-color: blueviolet; */
}

.box-2 h3 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.box-2 p {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    font-weight: lighter;
}

.box-2 img {
    width: 100%;
    height: 180px;
    background-size: cover;
    border-radius: 10px;
}

.box-3 {
    width: 25%;
    height: 300px;
    /* background-color: blueviolet; */
}

.box-3 h3 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.box-3 p {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    font-weight: lighter;
}

.box-3 img {
    width: 100%;
    height: 180px;
    background-size: cover;
    border-radius: 10px;
}

/* new-container */
.rest {
    width: 100%;
    height: 400px;
    background-color: antiquewhite;
    /* padding: 50px 0; */
    display: flex;
}

.rest .table {
    width: 50%;
    height: 400px;
    /* background-color: aqua; */
}

.rest .story {
    width: 50%;
    height: 400px;
    background-color: rgb(246, 246, 246);
}

.rest .table img {

    width: 100%;
    height: 400px;
    background-size: cover;
}

.rest .story h1 {
    margin-left: 50px;
    padding: 30px 20px;
    font-family: 'Roboto Slab', serif;
    text-decoration: underline red;
}

.rest .story p {
    padding: 20px;
    margin-left: 50px;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
}

/* rest end */
.main-container {
    width: 100%;
    height: 900px;
    /* background-color: aqua; */
}

.main-container h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-top: 30px;
    font-weight: 500;
    text-decoration: underline red;

}

.mains {
    width: 60%;
    height: 800px;
    /* background-color: blueviolet; */
    margin-left: 20%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

.main-1 {
    width: 40%;
    height: 350px;
    /* background-color: brown; */
    border-radius: 5px;
}


.main-1 h1 {
    font-size: 18px;
}

.main-1 h3 {
    padding: 25px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.main-1 p {
    text-align: justify;
    margin-left: 20px;
    font-size: 14px;
}

.main-2 {
    width: 40%;
    height: 350px;
    /* background-color: brown; */
    border-radius: 5px;
}


.main-2 h1 {
    font-size: 18px;
}

.main-2 h3 {
    padding: 25px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.main-2 p {
    text-align: justify;
    margin-left: 20px;
    font-size: 14px;
}

.main-3 {
    width: 40%;
    height: 350px;
    /* background-color: brown; */
    border-radius: 5px;
}


.main-3 h1 {
    font-size: 18px;
}

.main-3 h3 {
    padding: 25px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.main-3 p {
    text-align: justify;
    margin-left: 20px;
    font-size: 14px;
}

.main-4 {
    width: 40%;
    height: 350px;
    /* background-color: brown; */
    border-radius: 5px;
}

.main-4 h1 {
    font-size: 18px;
}

.main-4 h3 {
    padding: 25px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.main-4 p {
    text-align: justify;
    margin-left: 20px;
    font-size: 14px;
}

/* main-container end */
.img-cont {
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: space-between;
}

.img-container {
    width: 25%;
    height: 250px;

}

.img-container img {
    width: 100%;
    height: 250px;
    background-size: cover;
}

/* img-cont end */
.chef {
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.chef h1 {
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    text-decoration: underline red;
}

.chef p {
    padding: 20px;
    font-size: 14px;
    font-weight: lighter;
}

.chef-img {
    width: 30%;
    height: 300px;
    /* background-color: brown; */
    margin-left: 20px;
}

.chef-img img {
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: 8px;

}

/* chef end */
.footer-main {
    width: 100%;
    height: 600px;
    background-color: rgb(51, 51, 51);
    padding-top: 55px;
}

.reserve {
    width: 60%;
    height: 200px;
    /* background-color: aqua; */
    margin-left: 21%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.contact {
    width: 30%;
    height: 180px;
    /* background-color:blue; */
}

.contact h2 {
    padding: 15px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    text-decoration: underline red;
    color: #fff;
}

.contact p {
    text-align: center;
    padding: 5px 5px;
    color: #fff;
}

.message {
    width: 45%;
    height: 300px;
    /* background-color: aqua; */
    margin-left: 28%;
}

.message h2 {
    text-align: center;
    padding: 15px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    text-decoration: underline red;
    color: #fff;

}

.message #mess {
    margin-left: 12%;
    padding: 5px 30px;
    outline: none;

}

.message #mean {
    width: 560px;
    height: 60px;
    margin-left: 12%;
    padding: 0 10px;
    outline: none;
}

.message button {
    margin-left: 40%;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: #8eaccd;
}

.icons{
    width: 100%;
    background-color: rgb(38,38,38);
    height: 70px;
}
.icons .icon-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.icons .icon-items .fa-brands{
    color:#fff;
    font-size: 30px;
    margin: 0 14px;
}